Source: cmprovision4
Section: admin
Priority: optional
Maintainer: Floris Bos <bos@je-eigen-domein.nl>
Build-Depends: debhelper (>= 9.20160709)
Standards-Version: 4.5.0

Package: cmprovision4
Architecture: all
Depends: ${misc:Depends}, rpiboot (>=20220504~214218), dnsmasq-base, nginx, sqlite3, php-cli (>=7.3), php-fpm (>=7.3), php-sqlite3 (>=7.3), php-bcmath (>=7.3), php-mbstring (>=7.3), php-xml (>=7.3), php-zip (>=7.3), php-snmp (>=7.3), sudo, adduser
Conflicts: usbbootgui
Description: Webapplication to provision CM4 modules
